:root {
  --white: #ffffff;
  --navy: #001833;
  --dark-blue-grey-55: rgba(22, 42, 64, 0.55);
  --dark-blue-grey-4: rgba(22, 42, 64, 0.04);
  --kelly-green: #00ad2c;
  --ice: #dffbe6;
  --cool-green-20: rgba(52, 199, 89, 0.2);
  --very-light-pink: #e7e7e7;
  --neon-red: #ff1338;
  --tangerine: #ff9400;
  --bright-yellow: #fdfe00;
  --bright-green: #01ff00;
  --navy-70: rgba(0, 24, 51, 0.7);
  --navy-35: rgba(5, 27, 51, 0.35);
  --navy-15: rgba(5, 27, 51, 0.15);
  --marine-8: rgba(1, 41, 84, 0.08);
  --deep-sky-blue: #007aff;
  --deep-sky-blue-6: rgba(0, 122, 255, 0.06);
  --pale-grey: #f5f7fa;
  --cool-green: #34c759;
  --tomato: #e13c3c;
  --grapefruit: #e86969;
  --deep-red-60: rgba(173, 0, 0, 0.6);
  --pastel-red: #e25050;
  --pine-green-42: rgba(13, 66, 64, 0.42);
  --jungle-green: #007a3d;
  --shamrock: #00ad57;
  --dark-blue-grey-95: rgba(17, 21, 52, 0.95);
  --pale-red: #e73c3c;
  --orangey-red: #ec3636;
  --shamrock-two: #00b359;
  --emerald: #00a854;
  --bright-violet: #a703ff;
  --bright-violet-25: rgba(167, 3, 255, 0.25);
  --dark-blue-grey-27: rgba(22, 42, 64, 0.27);
  --cloudy-blue: #b8bfc7;
  --light-mint: #c6f6d2;
  --battleship-grey-8: rgba(116, 116, 128, 0.08);
  --light-blue-grey: #c7ccd1;
  --white-6: rgba(255, 255, 255, 0.06);
  --cool-grey: #a1aab4;
  --white-12: rgba(255, 255, 255, 0.12);
  --deep-sky-blue-24: rgba(0, 122, 255, 0.24);
  --deep-sky-blue-12: rgba(0, 122, 255, 0.12);
  --orangey-red-24: rgba(236, 54, 54, 0.24);
  --white-24: rgba(255, 255, 255, 0.24);
  --orangey-red-12: rgba(236, 54, 54, 0.12);
  --marine-10: rgba(5, 53, 105, 0.1);
  --deep-sky-blue-8: rgba(0, 122, 255, 0.08);
  --dark-blue-grey-24: rgba(22, 42, 64, 0.24);
}
